html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea,
article,
aside,
audio,
canvas,
command,
datalist,
details,
dialog,
embed,
figure,
header,
hgroup,
keygen,
mark,
meter,
nav,
output,
progress,
rp,
rt,
ruby,
section,
source,
time,
video {
  border: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
a {
  outline: none;
  *hide-focus: none;
  color: #006DDD;
}
body,
html {
  height: 100%;
  overflow:hidden;
  width: 100%;
}
body {
  font-family: \9ED1\4F53;
  color: #fff;
  background:#000;
}
input::-webkit-input-placeholder {
  color: #838ca1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 ;
}
input,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.indexBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.indexBg img {
  display: block;
}
.indexWrap,
.shareWrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.indexTit {
  position: absolute;
  width: 100%;
  height: 7.6rem;
  top: 3.35rem;
  display: none;
}
.indexPeo {
  width: 100%;
  height: 14.975rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
.indexIcon01 {
  position: absolute;
  left: 50%;
  margin-left: -3.25rem;
  width: 6.975rem;
  height: 1.05rem;
  bottom: 3.75rem;
  display: none;
}
.indexOpen {
  width: 7.5rem;
  height: 2.1rem;
  position: absolute;
  left: 50%;
  margin-left: -3.75rem;
  display: block;
  bottom: 1.75rem;
  display: none;
}
.shareTit {
  position: absolute;
  width: 7.975rem;
  height: 2.2rem;
  top: 9rem;
  left: 50%;
  margin-left: -3.95rem;
}
.shareBack {
  width: 7.5rem;
  height: 2.1rem;
  position: absolute;
  left: 50%;
  margin-left: -3.75rem;
  display: block;
  top: 11.8rem;
}
.shareWx {
  width: 7.5rem;
  height: 2.1rem;
  position: absolute;
  left: 50%;
  margin-left: -3.75rem;
  display: block;
  top: 14.5rem;
}
.video-wrap {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
#video-box {
  position: relative;;
  margin-top: -1%;
  margin-left: -1%;
  margin-right: -1%;
  margin-bottom: -1%;
  height: 102%;
  width: 102%;
  background: url(../images/indexBgg.jpg);
  object-fit:cover;
}
.indexWrap .indexTitFont{width:9.05rem;
  position: absolute;
  left:50%;margin-left: -4.2rem;height:0.675rem;
  bottom: 1rem;color:#9e5b1b;
  display: none;
 text-align: center;}
/*回答问题*/
img{width:100%;}
.loading{position:fixed;z-index:99999;width:100%;height:100%;color:#fff;background:url(../images/indexBgg.jpg) no-repeat;background-size:100% 100%;}
#progressbar{position:absolute;left:30%; width:9.8rem;height:1.175rem;background:url(../images/loading_preass.png) no-repeat;top:12.45rem;left:50%;margin-left:-4.9rem;background-size:100% 100%;}
.loading_top{width:3.825rem;height:5rem;position:absolute;left:50%;margin-left: -1.912rem;top:6.75rem;}
.siderarrow{-webkit-animation:siderarrow 0.6s  infinite ease-in-out;animation:siderarrow 0.6s  infinite ease-in-out;-webkit-animation-delay:0.6s;animation-delay:0.6s;animation-direction:alternate;webkit-animation-direction:alternate;}
@keyframes siderarrow{
  0%{top:6.75rem;}
  100%{top:6rem;}
}
@-webkit-keyframes siderarrow{
  0%{top:6.75rem;}
  100%{top:6rem;}
}
.loading_bottom{width:5.85rem;height:1.375rem;position:absolute;left:50%;margin-left: -2.92rem;top:13.95rem;}
.ui-widget-content {
    background:url(../images/loading_preass.png) no-repeat;
    width:100%;height:100%;
    background-size:100% 100%;
}
.ui-widget-header {
    background: url(../images/loading_preassbar.png) 100% 100% repeat-x;
    font-weight: bold;
    height:1.175rem;
    position: absolute;z-index:999;
    top: 0.16rem;
    left: 0.5rem;
}

.upBoxGlo{position:fixed;z-index:99999;top:0;left:0;display:none;width:100%;height:100%;pointer-events:none;background:rgb(0,0,0) repeat;}
.landscape{position:absolute;top:50%;left:50%;width:11rem;height:6.75rem;margin:-3.3rem 0 0 -5.3rem;}
.container{position:relative;width:100%;height:100%;background-repeat:no-repeat;background-size:100% 100%;}
.container.question{background-image: url(../images/faqbg.jpg);}
.title{position: absolute;width: 100%;top: 35%;}
.answer{position: absolute;top: 45%;width: 100%;}
.answer a{display: block;width: 56.875%;height:100%;margin: 0 auto;}
.answer a img{width:100%;display:block;}
.pTit{ background:rgba(255,255,255,0);z-index:100;height:130%; width:58%; position:absolute;top:0;left:50%;margin-left: -29%;display:none;}
a{outline:none;}
@media screen and (max-height: 490px){
  .indexTit {
    position: absolute;
    width: 100%;
    height: 7.6rem;
    top: 2.2rem;
    display: none;
  }
  .indexPeo {
    width: 92%;
    height: 13rem;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
.answer a{display: block;width: 56.875%;height:2.9rem;margin: 0 auto;}
}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.animated2{-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}
.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s;}
.animated.flipOutX,.animated.flipOutY,.animated.bounceIn,.animated.bounceOut{-webkit-animation-duration:.75s;animation-duration:.75s;}
@-webkit-keyframes bounceInDown{
  from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);}
  0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0);}
  60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0);}
  75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0);}
  90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0);}
  to{-webkit-transform:none;transform:none;}
}
@keyframes bounceInDown{
  from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);}
  0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0);}
  60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0);}
  75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0);}
  90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0);}
  to{-webkit-transform:none;transform:none;}
}
.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown;}
@-webkit-keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}
@keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
@-webkit-keyframes bounceInUp{
  from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);}
  from{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0);}
  60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0);}
  75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0);}
  90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0);}
  to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes bounceInUp{
  from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);}
  from{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0);}
  60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0);}
  75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0);}
  90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0);}
  to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.bounceInUp{-webkit-animation-name:bounceInUp;animation-name:bounceInUp;}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
