<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello Spring Security</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:substituteby="index::logout"></div>
        <h1>This is a secured page!</h1>
        <form action="#" th:action="@{/user/post/new}" th:object="${Post}" method="post">
        <label>Title</label><input type="text" th:field="*{title}" />
        <label>image</label><input type="text" th:field="*{image}" />
        <label>desc</label><input type="text" th:field="*{desc}" />
        <label>content</label><input type="text" th:field="*{content}" />
        <label>info</label><input type="text" th:field="*{info}" />
        <button type="submit">Submit</button>
		</form>
        <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
    </body>
</html>
