<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"></meta>

  <title>蛤蛤蛤</title>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css"></link>
  <link rel="stylesheet" type="text/css" href="/css/barrager.css"></link>


  <style>
  img {
  	width: 100%;
  }
  .card {
  	width: 100%;
  }
  .footer {
    background-color: rgba(245, 245, 245, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
  </style>
  <script>
	function setErrorImage(img) {
		img.onerror = function() {};
	    img.src = img.attributes['tu'].value;
	}
	</script>
	<script src="//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
	<script src="/js/jquery.barrager.min.js"></script>
	<script src="//cdn.jsdelivr.net/jquery.lazyload/1.9.3/jquery.lazyload.min.js"></script>
  <script src="/js/cloudinary/jquery.ui.widget.js"></script>
  <script src="/js/cloudinary/load-image.min.js"></script>
  <script src="/js/cloudinary/jquery.iframe-transport.js"></script>
  <script src="/js/cloudinary/jquery.fileupload.js"></script>
  <script src="/js/cloudinary/jquery.fileupload-process.js"></script>
  <script src="/js/cloudinary/jquery.fileupload-image.js"></script>
  <script src="/js/cloudinary/jquery.fileupload-validate.js"></script>
  <script src="/js/cloudinary/jquery.cloudinary.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.1.0/jquery.infinitescroll.min.js"></script><script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87981504-1', 'auto');
	  ga('send', 'pageview');


	  function danmu(data) {
		//每条弹幕发送间隔
          var looper_time=5*1000;
          var items=data;
          //弹幕总数
          var total=data.length;
          //是否首次执行
          var run_once=true;
          //弹幕索引
          var index=0;
          //先执行一次
          barrager();
          function  barrager(){


            if(run_once){
                //如果是首次执行,则设置一个定时器,并且把首次执行置为false
                looper=setInterval(barrager,looper_time);
                // run_once=false;
            }
            //发布一个弹幕
            if(items[total-index-1]) {
            	var it = items[total-index-1];
		        var info = it.info + (it.timestamp ? new Date(it.timestamp).toLocaleDateString() : '');
		        $('body').barrager({
		            info: info
		        });
            }
            //索引自增
            index++;
            //所有弹幕发布完毕，清除计时器。
            if(index = 5){

                clearInterval(looper);
                return false;
            }



          }
	  }
	  $.ajax({url:'/hahahaha'}).then(function(res) {
		  danmu(res);
	  })
	  /*
	  $('body>.card').infinitescroll({
		  nextSelector : "div.navigation a:first",    
          // selector for the NEXT link (to page 2)
		  itemSelector : "body>.card"  
		  dataType: 'json',
		  appendCallback: false
	  })
	  */
	</script>
</head>
<body>
	<div th:each="image: ${images}" class="card">
		<a th:href="${image.ou}">
		<div class="card-image">
			<figure class="image">
	  			<img class="lazy" th:attr="data-original=${image.tu},tu=${image.tu}" onerror="setErrorImage(this)"/>
			</figure>

		</div>
		<div class="card-content">
		    <div class="media">
		      <div class="media-left">
		        <figure class="image is-32x32">
		          <img src="http://placehold.it/64x64" alt="Image" class="lazy" th:attr="data-original=${image.tu}"/>
		        </figure>
		      </div>
		      <div class="media-content">
		        <p class="title is-5" th:text="${image.pt}">John Smith</p>
		      </div>
		    </div>

		    <div class="content" th:text="${image.s}">
		      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		      Phasellus nec iaculis mauris.
		    </div>
		    <small th:text="${'钦定率:'+image.confidence}"></small>
		 </div>
		 </a>
	</div>
	<footer class="footer">
	  <div class="container">
	    <div class="content has-text-centered">
	      <a class="button moha-btn is-primary is-large">膜蛤大法好</a>
	      <a class="button mohatu-btn is-link is-large">上传图片</a>
	    </div>
	  </div>
	</footer>
	<div class="modal moha">
	  <div class="modal-background"></div>
	  <div class="modal-content">
	  	<div class="box">
	    <label class="label">发弹幕也要参照基本法</label>
		<p class="control">
		  <textarea class="textarea" id="post-content" placeholder="苟利国家生死以，岂因祸福避趋之"></textarea>
		</p>
		<p class="control">
		  <button class="button is-primary moha-send">提交</button>
		  <button class="button is-link moha-cancel">取消</button>
		</p>
		</div>
	  </div>
	  <button class="modal-close"></button>
	</div>
	<div class="modal mohatu">
	  <div class="modal-background"></div>
	  <div class="modal-content">
	  	<div class="box">
		    <label class="label">表情</label>
			<p class="control">
			  <form th:utext="${html}"></form>
			</p>
		</div>
	  </div>
	  <button class="modal-close"></button>
	</div>
	<script>
	$(document).on('click', '.moha-btn', function(e) {
		  $('.modal.moha').addClass('is-active')
	  }).on('click', '.mohatu-btn', function(e) {
		  $('.modal.mohatu').addClass('is-active')
	  }).on('click', '.moha-send', function() {
		  var content = $('#post-content').val() || '苟利国家生死以，岂因祸福避趋之';
		  $.ajax({url: '/hahahaha',
			  data: {
				 content: content
			  },method: 'POST'}).then(function(data) {
			danmu(data);
			$('.modal.moha').removeClass('is-active')
		  })
	  }).on('click', '.moha-cancel',function() {
		  $('.modal.moha').removeClass('is-active');
	  }).on('click', '.modal-close', function() {
      $('.modal').removeClass('is-active');
    })
	$(function() {
	    $("img.lazy").lazyload({
	        effect : "fadeIn"
	    });
	    $.cloudinary.config({ cloud_name: 'deh8nvclk', api_key: '173213393725696',private_cdn: false,
	    	cdn_subdomain: false})
	    $(".cloudinary-fileupload")
        .fileupload({
            // Uncomment the following lines to enable client side image resizing and valiation.
            // Make sure cloudinary/processing is included the js file
            //disableImageResize: false,
            //imageMaxWidth: 800,
            //imageMaxHeight: 600,
            //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
            //maxFileSize: 20000000, // 20MB
            dropZone: "#direct_upload",
            start: function (e) {
                $(".status").text("Starting upload...");
            },
            progress: function (e, data) {
                $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
            },
            fail: function (e, data) {
                $(".status").text("Upload failed");
            }
        });

	    $(".cloudinary-fileupload").off("cloudinarydone").on("cloudinarydone", function (e, data) {
	            $("#photo_bytes").val(data.result.bytes);
	            console.log(data);
	            $(".status").text("");
	            if (data.result.resource_type == "image") {
	                $(".preview").html(
	                        $.cloudinary.image(data.result.public_id, {
	                            format: data.result.format, width: 50, height: 50, crop: "fit"
	                        })
	                );
	            }
	            view_upload_details(data.result);

              validate(data.cloudinaryField);
	        });
    function validate(id) {
      var id = $('input[name=image_upload]').val();
      $.ajax({
        url: 'validate',
        data: {
          id: id
        }
      }).then(function(result) {
        $('.modal.mohatu').find('.control').html('上传成功')
        $('.modal.mohatu').find('form').hide();
          // console.log(result);
      })
    }

		function view_upload_details(upload) {
			// Build an html table out of the upload object
			var rows = [];
			$.each(upload, function(k,v){
			    rows.push(
			            $("<tr/>")
			                    .append($("<td/>").text(k))
			                    .append($("<td/>").text(JSON.stringify(v))));
			});
			$("#info").html(
			        $('<div class="upload_details" />')
			                .append("<h2>Upload metadata:</h2>")
			                .append($("<table></table>").append(rows)));
		}



	});
	</script>

</body>
</html>
