<head th:fragment="head" >
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title th:text="${hello}">酷玩--酷炫，有趣，好玩</title>
    <meta name="description" content="酷玩--酷炫，有趣，好玩 CoolWan.tech"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="robots" content="all,follow"></meta>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic"></link>
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="css/font-awesome.min.css"></link>
    <!-- owl carousel-->
    <link rel="stylesheet" href="css/owl.carousel.css"></link>
    <link rel="stylesheet" href="css/owl.theme.css"></link>
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet"></link>
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css"></link>
    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png"></link>
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>