<!doctype html>
<!-- A standard form for uploading images to your server -->
<link href="/css/album.css" type="text/css" rel="stylesheet"></link>
<script src="//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/cloudinary/jquery.cloudinary.js"></script>
<script src="/js/cloudinary/jquery.ui.widget.js"></script>
<script src="/js/cloudinary/jquery.fileupload.js"></script>
<script src="/js/cloudinary/jquery.fileupload-process.js"></script>
<script src="/js/cloudinary/jquery.fileupload-validate.js"></script>

<script src="/js/cloudinary/jquery.fileupload-image.js"></script>

<script src="/js/cloudinary/jquery.iframe-transport.js"></script>
<script src="/js/cloudinary/load-image.min.js"></script>
<div id='backend_upload'>
    <h1>New Photo</h1>
    <h2>Image file is uploaded through the server</h2>
    <form:form method="post" action="upload" commandName="photoUpload" enctype="multipart/form-data">
        <div class="form_line">
            <form:label path="title">Title:</form:label>
            <div class="form_controls">
                <form:input path="title"/>
                <form:errors path="title" extraClasses="error" />
            </div>
        </div>

        <div th:if="${photoUpload.publicId}">
            <div class="form_line">
                <label for="file">Image:</label>
                <div class="form_controls">
                    <input type="file" name="file" id="file"/>
                </div>
            </div>
        </div>
        <div th:if="${photoUpload.publicId}">
            <div th:if="${photoUpload.isImage}">
                <div class="form_line">
                    <label>Image:</label>
                    <div class="form_controls">
                        <img th:attr="src=${photoUpload.thumbnailUrl}"/>
                    </div>
                </div>
            </div>
            <div th:if="${photoUpload.isImage}">
                <div class="form_line">
                    <label>Raw file:</label>
                    <div class="form_controls">
                        <a th:attr="href=${photoUpload}" th:text="${photoUpload.publicId}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_line">
            <div class="form_controls">
                <input type="submit" value="Submit Photo"/>
            </div>
        </div>
        <form:hidden path="preloadedFile"/>
        <form:errors path="signature" extraClasses="error" />
    </form:form>

</div>

<a href="/album">Back to list</a>
